.leftNav {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    border-right: 1px solid #b2ab8c;
    .logoDiv {
        width: 100%;
        height: 155px;
        display: block;
        border-bottom: 1px solid #b2ab8c;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        .logocover {
            position: relative;
            width: 60%;
            height: 80%;
        }
    }
    .profileName {
        width: 100%;
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #b2ab8c;
    }
    .addtopic {
        width: 100%;
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        & > button {
            width: 80%;
            height: 40px;
            display: flex;
            justify-content: center;
            padding: 0 3%;
            align-items: center;
            border: none;
            background-color: #b2ab8c;
            border-radius: 12px;
            cursor: pointer;
            & > span {
                width: 100%;
                height: 20px;
                position: relative;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                & > span {
                    margin-left: 8px;
                    height: 80%;
                    width: 100%;
                    text-align: left;
                }
            }
        }
    }
    .yourtopics {
        width: 100%;
        min-height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 10%;
        .yourtopicsheading {
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: center;
            padding: 0 3%;
            align-items: center;
            border: none;
            background-color: #b2ab8c;
            border-radius: 12px;;
            & > span {
                width: 100%;
                height: 20px;
                position: relative;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                & > span {
                    margin-left: 8px;
                    width: 100%;
                    text-align: left;
                }
            }
        }
        .topicslist {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            border: none;
            padding: 0 15%;
            & > span {
                margin-top: 15px;
            }
        }
    }
    .trendingtopics {
        width: 100%;
        min-height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 10%;
        margin-top: 20px;
        .trendingtopicsheading {
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: center;
            padding: 0 3%;
            align-items: center;
            border: none;
            background-color: #b2ab8c;
            border-radius: 12px;;
            & > span {
                width: 100%;
                height: 20px;
                position: relative;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                & > span {
                    margin-left: 8px;
                    width: 100%;
                    text-align: left;
                }
            }
        }
        .trendingtopicslist {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            border: none;
            padding: 0 15%;
            & > span {
                margin-top: 15px;
            }
        }
    }
}
