.topicsbody {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .topicsmaincontent {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .clubchatlogo {
            width: 100%;
            height: 35%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 5%;
        }
        .features {
            width: 100%;
            height: 25%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #e8a529;
            font-size: 48px;
            font-weight: 300;
            margin-left: 8px;
            animation-name: example;
            animation-duration: 9s;
            animation-iteration-count: infinite;
        }
        .topicssection {
            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .topicstack {
                width: 100%;
                height: 80%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                .chipstyle {
                    height: 58px;
                    border-radius: 29px;
                    padding: 12px 28px;
                    font-size: 28px;
                    margin: 9px 18px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    &:hover {
                        cursor: pointer;
                    }
                }
                .activechip {
                    color: #1597e5;
                    border: 1px solid #1597e5;
                }
                .inactivechip {
                    color: #ccc;
                    border: 1px solid #ccc;
                }
            }
            .continuebtn {
                width: 100%;
                height: 20%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                & > button {
                    height: 58px;
                    width: 325px;
                    padding: 12px 28px;
                    font-size: 28px;
                    margin: 9px 18px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    background-color: #1597e5;
                    border: none;
                    color: white;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}


@keyframes example {
    0%   {color: #e8a529;}
    33%  {color: #8b4aeb;}
    66%  {color: #29a2e8;}
  }