.heading {
    text-align: center;
}

.topic {
    display: flex; 
    justify-content: space-around;
}

.chatRoomContainer {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 16px;
}

.roomName {
    margin-top: 0;
}

.messagesContainer {
    flex: 1;
    min-height: 100px;
    overflow: auto;
    border: 1px solid black;
    border-radius: 7px 7px 0 0;
}

.messagesList {
    list-style-type: none;
    padding: 0;
}

.newMessageInputField {
    height: 200px;
    max-height: 50%;
    font-size: 20px;
    padding: 8px 12px;
    resize: none;
}

.messageItem {
    width: 55%;
    margin: 8px;
    padding: 12px 8px;
    word-break: break-word;
    border-radius: 4px;
    color: white;
}

.myMessage {
    background-color: rgb(0, 132, 255);
    margin-left: auto;
}

.receivedMessage {
    background-color: #3f4042;
    margin-right: auto;
}

.sendMessageButton {
    font-size: 28px;
    font-weight: 600;
    color: white;
    background: #31a24c;
    padding: 24px 12px;
    border: none;
}

.messagesContainer, .newMessageInputField, .sendMessageButton {
    border-color: #9a9a9a;
}
